/* card stuff */
div.card {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 10px 5px 5px rgba(255, 148, 76, 0.397);
    width: 300px;
    margin: 5% 1% 5% 1%;
    border-radius: 6%;
    min-height: 400px;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index:0;    
}
div.topDiv {
    background-color: rgb(240, 240, 240);
    border-radius: 5% 5% 0% 0% ;
    padding-top: 1%;
    min-height:150px;
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.bottomDiv {
    padding:0 5% 5% 5%;
    color: gray;
    text-align: justify;
}
h3.title {
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 115, 0);
    font-family: sans-serif;
}
.appPath{
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}