main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:5%;
}
#userActions{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    > * {
        width:30%
    }
}

#memoryContainer{
    border: solid;
    border-color: blue;
}
#memoryBoard{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
:root{
    --cardSize: 80px;
}
.memoryCard{
    border: 3px solid;
    border-color:  red;
    border-radius: 10px;
    margin:1%;
    width:var(--cardSize);
    height:var(--cardSize);
}
.memoryCard-recto {
    z-index:0;
    position:relative;
    border-radius: 10px;
    width:var(--cardSize);
    height:var(--cardSize);
    /* display:none; */
}
.memoryCard-verso {
    z-index:1;
    position:fixed;
    border-radius: 10px;
    width:var(--cardSize);
    height:var(--cardSize);
    display:none;
}