/* general stuff */
.pokeBullshit{
    /* display:none */
}
main {
    padding-top: 5%;
}
button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}
.bandeau1 > img {
    min-width:50px;
    max-width:40%
}
.bandeau1 > div {
    min-width:100px;
    max-width: 700px
}
.bandeau2 > img {
    min-width:50px;
    max-width:40%
}
.bandeau2 > div {
    min-width:100px;
    max-width: 700px
}
.d-flex-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5% 0 5%;
}
.d-flex-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
body {
    width:100%;
    padding:0px;
    margin:0px;
}
/* header and footer stuff */
header {
    position: sticky;
    top:0px;
    background-color: grey;
    padding: 1% 0% 1% 0%;
    display: flex;
    justify-content: start;
    flex-direction: row;
}
.header-center-block{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width : 80vw
}
.header-element {
    max-height: 50px;
}
.header-right-element{
    width : 10vw
}
.header-left-element{
    width : 10vw
}
footer {
    position: sticky;
    top:0px;
    background-color: grey
}
.hideNavBar{
    display:none
}
#navBar {
    z-index: 2;
    position:absolute;
    background-color: grey;
    color: black;
    border:solid;
    border-color: grey;
}
a {
    text-decoration: none;
    color:white
}
ul {
    list-style: none;
}
@media screen and (min-width: 600px){
    .hideNavBar{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #navBar {
        z-index: 0;
        position:relative;
        background-color: grey;
        color: black;
        border:solid;
        border-color: grey;
        
    }
    .dropdownBTN {
        display:none
    }
    .header-center-block{
        display: flex;
        justify-content: center;
        flex-direction: row;
        width : 100vw
    }
    .header-element {
        max-height: 50px;
    }
    .header-right-element{
        width : 0vw
    }
    .header-left-element{
        width : 0vw
    }
}
/* catalog stuff */
#catalogContainer {
    background-color: rgb(255, 255, 255);
}
div.show-no {
    display:none
}

  


